# Ignore dbt compiled files
/target/
dbt_modules/
logs/
__pycache__/

# Ignore environment files
.env
.venv/
*.pyc

# macOS
.DS_Store

# IDE files
.vscode/
.idea/

# Ignore virtual environment files (optional)
env/